.register-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-x: hidden;
}

.register-modal {
    background: #142B36;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
}

.register-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #314a52;
    font-weight: bold;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.register-input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 90%;
    max-width: 320px;
    font-size: 1rem;
}

.register-password-container {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    max-width: 320px;
}

.register-password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
}

.register-error-text {
    color: red;
    font-size: 0.675rem;
    margin-bottom: 5px;
    text-align: center;
}

.register-next-button {
    padding: 12px;
    background: #368384c3;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 40%;
    max-width: 320px;
    font-size: 1rem;
    margin-top: 15px;
    
}

.register-google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    width: 70%;
    max-width: 320px;
    font-size: 1rem;
}

.register-google-icon {
    margin-right: 12px;
    width: 24px;
}

.register-login-link {
    color: #223ccf;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

.register-back-button {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .register-modal {
        width: 95%;
        padding: 20px;
    }

    .register-input,
    .register-next-button,
    .register-google-button {
        width: 100%;
    }

    .register-MEG-logo {
        width: 100px;
    }

    .register-close-button {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .register-MEG-logo {
        width: 80px;
    }

    .register-title {
        font-size: 1.25rem;
    }

    .register-input {
        max-width: 280px;
    }

    .register-next-button,
    .register-google-button {
        max-width: 280px;
    }
}

/*cambios en register*/